body {
    font-family: 'Ubuntu' !important;
}

body {
    margin: 0;
    display: flex;
    font-family: 'Ubuntu' !important;
    background: linear-gradient(180.3deg, rgb(132 212 213) 5.5%, rgb(51 139 224) 90.2%);
}

.cartaoDeLogin {
  height: 550px;
  width: 600px;
  box-shadow: 2px 15px 43px -11px rgba(0,0,0,0.67);
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  background: rgb(255 255 255 / 45%);
  border-radius: 20px;
  display: grid;
  color: white;
  grid-template-columns: 100%;
  grid-template-rows: 12% 88%;
}
 

.centralizadoEmColuna {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.campoFormulario {
    width: 100%;
    align-items: flex-start !important;
}

.cabecalhoCartaoDeLogin {
    padding: 10px;
    background-color: #10455f4b;
    font-size: 1.65em;
    font-weight: bold;
    border-radius: 20px 20px 0px 0px;
}

.centralizadoTotalmente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 
input {
    height: 60px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}
 
 
div .jogar-pra-cima > div {
    flex-direction: column !important;
} 

.jogar-pra-cima {
    position: relative;
    bottom: 60px;
}

.botao-login {
    height: 45px;
    width: 100%;
}