.app-header {

  .mat-toolbar {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: inherit;
    align-content: center;
    margin-left: 15px;
    margin-top: 10px;
  }

  .logo{
    color: #3EA5FB;
    font-size: 36px;
    font-weight: 500;
  }

  .auth-toolbar {
    display: flex;
    align-items: center;
  }

  .links-toolbar > button[mat-button]{
    justify-content: center;
    margin: 15px;
  }

  button{
    font-size: 24px;
  }

  button[mat-button]{
    color: #57636C;
  }

  button[routerlink="/login"]{
    background-color: #3EA5FB;
    color: white;
    border-radius: 10px;
    margin: 10px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #3EA5FB;
    color: #3EA5FB;
    border-radius: 10px;
  }

  @media (max-width: 1024px){
    .logo {
      font-size: 2rem;
    }

    button {
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    .logo {
      font-size: 1rem;
    }

    button {
      font-size: 0.75rem;
    }
  }
}
