<header class="app-header">
  <mat-toolbar>
    <a routerLink="/">
      <img src="assets/imagens/logo.png" alt="Logo da aplicação Jornada">
    </a>
    <span class="spacer"></span>
    <div class="links-toolbar">
      <button mat-button>Vaquinha</button>
      <button mat-button>Eventos</button>
      <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
        <a routerLink="/perfil">
          <img src="assets/icones/user.png" alt="Ícone da pessoa usuária">
        </a>
        <button mat-stroked-button color="primary" (click)="logout()">SAIR</button>
      </ng-container>
      <ng-template #login>
        <button routerLink="/cadastro" mat-raised-button color="primary">CADASTRE-SE</button>
        <button routerLink="/login" mat-stroked-button>LOGIN</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>

