<header class="app-header">
  <mat-toolbar>
    <a routerLink="/">
      <p class="logo">Mão Amiga</p>
    </a>
    <div class="links-toolbar">
      <button mat-button>Como funciona?</button>
      <button mat-button>Crie um projeto</button>
      <button mat-button>Explore</button>
    </div>
    <div class="auth-toolbar">
      <ng-container *ngIf="user$ | async as pessoaUsuaria; else login">
        <a routerLink="/perfil">
          <img src="assets/icones/user.png" alt="Ícone da pessoa usuária">
        </a>
        <button mat-stroked-button color="primary" (click)="logout()">SAIR</button>
      </ng-container>
      <ng-template #login>
        <button routerLink="/cadastro" mat-stroked-button>CADASTRAR</button>
        <button routerLink="/login" mat-raised-button>LOGIN</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>

