.app-header {

  .mat-toolbar {
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
  }

  .logo-box > button[mat-button]{
    color: #3EA5FB;
    font-size: 36px;
    font-weight: 500;
    margin-left: 4rem;
  }

  .no-click-shadow {
    box-shadow: none !important;
  }

  .auth-toolbar {
    display: flex;
    align-items: center;
  }

  .links-toolbar{
    display: flex;
    justify-content: center;
  }

  .links-toolbar > button[mat-button]{
    justify-content: center;
    margin: 15px;
  }

  .links-toolbar > button[mat-button].active-button {
    color: #3EA5FB;
  }

  button{
    font-size: 24px;
  }

  button[mat-button]{
    color: #57636C;
  }

  button[mat-raised-button]{
    background-color: #3EA5FB;
    color: white;
    border-radius: 10px;
    margin: 10px;
  }

  .login-toolbar{
    display: flex;
    justify-content: center;
  }

  .icon-perfil{
    padding-right: 10px;
  }

  .mat-mdc-outlined-button:not(:disabled) {
    border-color: #3EA5FB;
    color: #3EA5FB;
    border-radius: 10px;
  }

  @media (max-width: 1024px){
    .logo-box > button[mat-button] {
      font-size: 2rem;
    }

    button {
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    .logo-box > button[mat-button] {
      font-size: 1rem;
    }

    button {
      font-size: 0.75rem;
    }
  }
}
