<header class="app-header">
  <mat-toolbar>
    <div class="logo-box">
      <button mat-button routerLink="/" class="no-click-shadow">Mão Amiga</button>
    </div>
    <div class="links-toolbar">
      <button mat-button routerLinkActive="active-button" routerLink="/como-funciona">Como funciona?</button>
      <button mat-button routerLinkActive="active-button" routerLink="/login">Crie um projeto</button>
      <button mat-button routerLink="/explore" routerLinkActive="active-button" (click)="explore()">Explore</button>
    </div>
    <div class="auth-toolbar">
      <ng-container class="login-toolbar" *ngIf="user$ | async as pessoaUsuaria; else login">
        <button routerLink="/perfil" mat-raised-button>MEU PERFIL</button>
        <button mat-stroked-button color="primary" (click)="logout()">SAIR</button>
      </ng-container>
      <ng-template #login>
        <button routerLink="/cadastro" mat-stroked-button>CADASTRAR</button>
        <button routerLink="/login" mat-raised-button>LOGIN</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>

