<section>
  <div class="text">
    <h2>Como funciona?</h2>
    <p>Bem-vindo à plataforma <a>Mão Amiga</a>!
      Aqui, explicaremos como nossa plataforma funciona
      tanto para as instituições que precisam de doações
      quanto para os indivíduos que desejam contribuir.
      Com Mão Amiga, todos podem desempenhar um papel na transformação de vidas.</p>
  </div>
  <div class="inline-container">
    <mat-card class="card" >
      <mat-card-content>
        <h2 class="example-h2">Para representantes de instituições</h2>

        <section class="example-section">
          <li>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Cadastro da instituição:</a> para começar, sua instituição precisa se cadastrar na plataforma.</ul>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Criando projetos:</a>  para solicitar doações com sucesso, você precisará criar projetos específicos na plataforma.</ul>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Tipos de doações:</a> você pode especificar os tipos de doações que sua instituição aceita, como doações monetárias, doações de tempo, doações de conhecimento ou doações de influência.</ul>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Conexão com doadores:</a> uma vez que seu projeto esteja ativo na plataforma, os doadores interessados poderão encontrar sua instituição. Esteja pronto para responder a perguntas e fornecer informações adicionais sobre como os doadores podem ajudar.</ul>
          </li>
        </section>

      </mat-card-content>
    </mat-card>

    <mat-card class="card" >
      <mat-card-content>
        <h2 class="example-h2">Para potenciais doadores</h2>

        <section class="example-section">
          <li>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Cadastro do doador:</a> comece criando uma conta, isso permitirá que você acesse todas as funcionalidades da plataforma.</ul>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Projetos:</a> navegue pelos projetos. Você encontrará informações detalhadas sobre os projetos que estão buscando apoio.</ul>
            <ul><mat-icon>check_circle_outline</mat-icon><a>Realizando doações:</a> após escolher uma causa que ressoa com você, siga as instruções para fazer sua doação. Isso pode envolver transferências de dinheiro, compromissos de voluntariado, ou compartilhamento de conhecimento e influência.</ul>
          </li>
        </section>

      </mat-card-content>
    </mat-card>
  </div>
</section>
