<app-container>
  <mat-card>
    <div class="cadastro">
    <form [formGroup]="cadastroForm">
        <mat-card-header>
          <mat-card-title>Mão Amiga</mat-card-title>
        <mat-card-subtitle>Cadastrar</mat-card-subtitle>
        <p class="subtitulo">Junte-se à nossa comunidade e faça a diferença!</p>
      </mat-card-header>
      <section>
        <div class="acoesPerfil" *ngIf="perfilComponent">
          <h2>Dados pessoais</h2>
          <button (click)="deslogar()" mat-stroked-button color="primary">
            <mat-icon>logout</mat-icon>
            DESLOGAR
          </button>
        </div>
      </section>
      <mat-card-content>
        <div class="grid-container">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="nome" placeholder="Nome">
            <mat-error *ngIf="cadastroForm.get('nome')?.errors">Nome é obrigatório</mat-error>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>E-mail</mat-label>
              <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
              <mat-error *ngIf="cadastroForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Senha</mat-label>
              <input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
              <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['required']">Senha é obrigatória</mat-error>
              <mat-error *ngIf="cadastroForm.get('senha')?.errors?.['minlength']">Senha deve ter pelo menos 3 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Confirmar Senha</mat-label>
              <input matInput formControlName="confirmarSenha" type="password" placeholder="Repita sua senha">
              <mat-error *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['required']">Confirmação de Senha é obrigatória</mat-error>
              <mat-error *ngIf="cadastroForm.get('confirmarSenha')?.errors?.['equalTo']">Senhas não coincidem</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Tipo de Usuário</mat-label>
              <select matNativeControl [disabled]="disableSelect.value">
                <option value="" selected></option>
                <option value="Doador">Doador</option>
                <option value="Instituição">Instituição</option>
              </select>
            </mat-form-field>
          </div>
        <mat-checkbox *ngIf="!perfilComponent" formControlName="aceitarTermos" color="primary" class="full-width">Li e aceito os termos e condições deste cadastro *</mat-checkbox>
        <mat-error *ngIf="cadastroForm.get('aceitarTermos')?.invalid && cadastroForm.get('aceitarTermos')?.dirty">
          Você precisa aceitar os termos e condições para efetuar o cadastro
        </mat-error>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button
          [disabled]="cadastroForm.invalid"
          (click)="executarAcao()"
          [class.perfil-button]="perfilComponent"
          color="primary"
        >{{ textoBotao }}
        </button>
      </mat-card-actions>
      <p class="login">Já tem uma conta?
        <a routerLink="/login">Acesse agora.</a>
      </p>
    </form>
  </div>
  </mat-card>
</app-container>
