app-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #3EA5FB;
}

mat-card{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 4rem;
}

mat-card-title{
  font-size: 48px;
  font-weight: 500;
}

mat-card-subtitle{
  color: black;
  margin-top: 5rem;
  font-size: 32px;
}

.subtitulo{
  margin-top: 1.5rem;
  font-size: 20px;
  color: #57636C;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
}

mat-form-field{
  width:650px;
}

.cadastro{
    min-width: 50%;
}

button[mat-flat-button]{
  width: 650px;
  color: white;
  background-color: #3EA5FB;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  padding-left: 4rem;
  margin-bottom: 20px;
}

.login{
  margin-left: 5rem;
  font-size: 16px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4AAB54;
  font-weight: bold;

  &:active {
    color: #3EA5FB;
  }
}

  .acoesPerfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 16px 12px 0;
  }

  .grid-container {
    display: grid;
    grid-gap: 10px;
    .full-width {
      grid-column: 1 / span 2;
    }
  }

  mat-divider {
    margin: 0 16px;
    border-top-color: #79747E;
    margin-top: 24px;
  }

  h2 {
    font-weight: 400;
    font-size: 22px;
    color: #1D1B20;
    margin-left: 16px;
  }

  .btn-editar {
    background: #E6E0E9;
  }

  button {
    img {
      vertical-align: middle;
    }
  }

  .acessoPerfil {
    display: flex;
    justify-content: space-between;
    margin: 40px 16px 24px 0;
  }

  @media (max-width: 1024px){
    app-container {
      display: flex;
      justify-content: center;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    app-container {
      flex-direction: column;
      height: auto;
    }

    .cadastro {
      min-width: 50%;
    }

    mat-card-title {
      margin-top: 2rem;
      margin-left: 0;
      font-size: 36px;
    }

    mat-card-header {
      margin-top: 2rem;
      margin-bottom: 15px;
      margin-left: 0;
      text-align: center;
    }

    mat-card-content{
      display: flex;
      justify-content: flex-start;
      margin: 0;
      align-items: center;
    }

    p .subtitulo {
      margin-top: 1rem;
      margin-left: 0;
      text-align: center;
      font-size: 16px;
    }

    mat-form-field {
      width: 400px;
    }

    mat-card-actions{
      padding: 0;
    }
  }

  @media (max-width: 428px) {
    app-container {
      display: flex;
      justify-content: center;
      height: auto;
    }
  }














