<div class="login-component">
  <mat-card class="login">
      <mat-card-header>
        <mat-card-title>Mão Amiga</mat-card-title>
        <mat-card-subtitle>Login</mat-card-subtitle>
        <p class="subtitulo">Continue com sua jornada de apoio e transformação.</p>
      </mat-card-header>
      <div class="form-container">
      <form [formGroup]="loginForm">
        <mat-card-content>
          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Digite seu e-mail">
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">E-mail é obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">E-mail inválido</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha" type="password" placeholder="Digite sua senha">
            <mat-error *ngIf="loginForm.get('senha')?.errors">Senha é obrigatória</mat-error>
          </mat-form-field>
          <p class="fogot-password">Esqueceu a senha?
            <a routerLink="/forgotpass">Clique aqui para redefini-la.</a>
          </p>
          <mat-card-actions>
            <button [disabled]="loginForm.invalid" mat-flat-button (click)="login()">
              ENTRAR
            </button>
          </mat-card-actions>
        </mat-card-content>
        <p class="new-account">Ainda não tem uma conta?
          <a routerLink="/cadastro">Crie uma agora.</a>
        </p>
      </form>
    </div>
  </mat-card>
    <span class="blue"></span>
</div>


