.login-component{
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #3EA5FB;
}

mat-card{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-card-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 4rem;
  margin-left: 4rem;
}

mat-card-title{
  font-size: 48px;
  font-weight: 500;
}

mat-card-subtitle{
  color: black;
  margin-top: 5rem;
  font-size: 32px;
}

.subtitulo{
  margin-top: 1.5rem;
  font-size: 20px;
  color: #57636C;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login{
  min-width: 50%;
}

mat-form-field{
  width:650px;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 4rem;
}

mat-card-actions{
  padding-bottom: 30%;
}

button[mat-flat-button]{
  width: 650px;
  color: white;
  background-color: #3EA5FB;
}

p{
  font-size: 16px;
}

.new-account{
  margin-left: 5rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #4AAB54;
  font-weight: bold;

  &:active {
    color: #3EA5FB;
  }
}

.fogot-password > a {
  color: #3EA5FB;
}

mat-error{
  color: #3EA5FB;
}

@media (max-width: 1024px){
  .login-component {
    display: flex;
    justify-content: center;
    height: auto;
  }
}

@media (max-width: 768px) {
  .login-component {
    flex-direction: column;
    height: auto;
  }

  .login {
    width: 100%;
  }

  .blue {
    display: none;
  }

  mat-card-title {
    margin-top: 2rem;
    margin-left: 0;
    font-size: 36px;
  }

  mat-card-header {
    margin-top: 2rem;
    margin-bottom: 15px;
    margin-left: 0;
    text-align: center;
  }

  mat-card-content{
    margin-left: 0;
  }

  p .subtitulo {
    margin-top: 1rem;
    margin-left: 0;
    text-align: center;
    font-size: 16px;
  }

  mat-form-field {
    width: 100%;
  }

  mat-card-actions{
    width: 100%;
  }

  button[mat-flat-button] {
    width: 100%;
  }

  p {
    margin-bottom: 0.5rem;
    margin-left: 0;
    text-align: center;
  }

  .new-account{
    margin-left: 0;
  }
}

@media (max-width: 428px) {
  .login-component {
    display: flex;
    justify-content: center;
    height: auto;
  }
}
