
.inline-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 85px;
}

.inline-container > div {
  margin-right: 10px;
}

.text{
  margin-top: 15px;
  margin-left: 5rem;
}

h2{
  font-size: 40px;
  font-weight: 500;
}

p{
  font-size: 24px;
  color: #57636C;
  padding: 10px 0 10px;
}
