<div class="busca-page">
  <app-banner src="assets/imagens/banner-busca.png" alt="" />
  <app-container>
    <app-form-busca (realizarBusca)="busca($event)"></app-form-busca>
    <section class="conteudo">
      <aside class="filtros-adicionais">
        <app-filtros-complementares (realizarBusca)="busca($event)"></app-filtros-complementares>
      </aside>
      <div class="passagens">
        <div class="destaques">
          <app-card variant="secondary">
            <app-passagem-destaque destacadaPor="Menor preço" [passagem]="destaques?.maisBarata" />
          </app-card>
          <app-card variant="primary">
            <app-passagem-destaque destacadaPor="Recomendado" [passagem]="destaques?.sugerida" />
          </app-card>
          <app-card variant="secondary">
            <app-passagem-destaque destacadaPor="Menor tempo" [passagem]="destaques?.maisRapida" />
          </app-card>
        </div>
        <app-passagem *ngFor="let passagem of passagens" [passagem]="passagem"></app-passagem>
      </div>
    </section>
  </app-container>
</div>